<script setup lang="ts">
import UiLabel from "@/components/ui/UiLabel.vue";
import UiButton from "@/components/ui/UiButton.vue";
import UiNumberInput from "@/components/ui/UiNumberInput.vue";
import UiInputSignature from "@/components/ui/UiInputSignature.vue";
import UiSwapBtn from "@/components/ui/UiSwapBtn.vue";
import UiSelect from "@/components/ui/UiSelect/UiSelect.vue";

import { useStoreCurrency } from "@/store/currency/currency";
import { usePaymentForm } from "@/store/paymentForm/paymentForm";

const storeCurrency = useStoreCurrency();
const storePaymentForm = usePaymentForm();

const formSubmitEvent = () => {
  alert("Operation successful");
  storePaymentForm.amount = null;
};

const accountSwitchEvent = () => {
  [storePaymentForm.selectValueTo, storePaymentForm.selectValueFrom] = [
    storePaymentForm.selectValueFrom,
    storePaymentForm.selectValueTo,
  ];
};
</script>

<template lang="pug">
.payment-component
  h1.payment-component__title Payment between my accounts

  form.payment-component__form(
    @submit.prevent="formSubmitEvent"
  )
    .payment-component__form-from
      ui-label.payment-component__label-from(
        :bundle-name="'from'"
      ) From
      ui-select(
        v-model="storePaymentForm.selectValueFrom"
        :bundle-name="'select-from'"
        :options="storePaymentForm.optionForFrom"
        :placeholder="'Select card'"
      )

    .payment-component__form-swap
      ui-swap-btn(
        @click.prevent="accountSwitchEvent"
        :isDisable="Boolean(storePaymentForm.isSelectedCards)"
      )

    .payment-component__form-to
      ui-label.payment-component__label-to(
        :bundle-name="'to'"
      ) To
      ui-select(
        v-model="storePaymentForm.selectValueTo"
        :bundle-name="'select-to'"
        :options="storePaymentForm.optionForTo"
        :placeholder="'Select card'"
      )
      ui-input-signature {{ storePaymentForm.currencyRatio }}

    .payment-component__form-amount
      ui-label.payment-component__label-amount(
        :bundle-name="'amount'"
      ) Amount
      ui-number-input.payment-component__amount-input(
        v-model="storePaymentForm.amount"
        :bundle-name="'amount'"
        :isDisable="Boolean(storePaymentForm.isSelectedCards)"
        :currentCurrency="storePaymentForm.accountCurrencyFrom"
      )
      ui-input-signature No fee

    .payment-component__form-footer
      ui-button(
        :isDisable="!Boolean(storePaymentForm.amount)"
      ) Continue
</template>

<style scoped lang="sass">
.payment-component__title
  margin: 0 0 16px
  font-weight: 400
  font-size: 30px
  line-height: 42px
  color: $black_blue_color

.payment-component__form
  max-width: 326px
  margin-top: 16px

.payment-component__label-from,
.payment-component__label-to,
.payment-component__label-amount
  margin-bottom: 4px

.payment-component__form-swap
  display: flex
  justify-content: center
  margin-top: 18px

.payment-component__form-amount
  margin-top: 16px

.payment-component__form-footer
  margin-top: 16px
</style>
