@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-Light.woff2') format('woff2'),
  url('./cera-pro/CeraPro-Light.woff') format('woff'),
  url('./cera-pro/CeraPro-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-MediumItalic.woff2') format('woff2'),
  url('./cera-pro/CeraPro-MediumItalic.woff') format('woff'),
  url('./cera-pro/CeraPro-MediumItalic.ttf') format('truetype')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-RegularItalic.woff2') format('woff2'),
  url('./cera-pro/CeraPro-RegularItalic.woff') format('woff'),
  url('./cera-pro/CeraPro-RegularItalic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-BlackItalic.woff2') format('woff2'),
  url('./cera-pro/CeraPro-BlackItalic.woff') format('woff'),
  url('./cera-pro/CeraPro-BlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-Medium.woff2') format('woff2'),
  url('./cera-pro/CeraPro-Medium.woff') format('woff'),
  url('./cera-pro/CeraPro-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-BoldItalic.woff2') format('woff2'),
  url('./cera-pro/CeraPro-BoldItalic.woff') format('woff'),
  url('./cera-pro/CeraPro-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-ThinItalic.woff2') format('woff2'),
  url('./cera-pro/CeraPro-ThinItalic.woff') format('woff'),
  url('./cera-pro/CeraPro-ThinItalic.ttf') format('truetype')
  font-weight: 100
  font-style: italic

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-LightItalic.woff2') format('woff2'),
  url('./cera-pro/CeraPro-LightItalic.woff') format('woff'),
  url('./cera-pro/CeraPro-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-Black.woff2') format('woff2'),
  url('./cera-pro/CeraPro-Black.woff') format('woff'),
  url('./cera-pro/CeraPro-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-Bold.woff2') format('woff2'),
  url('./cera-pro/CeraPro-Bold.woff') format('woff'),
  url('./cera-pro/CeraPro-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-Regular.woff2') format('woff2'),
  url('./cera-pro/CeraPro-Regular.woff') format('woff'),
  url('./cera-pro/CeraPro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cera Pro'
  src:
  url('./cera-pro/CeraPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('./cera-pro/CeraPro-Thin.woff2') format('woff2'),
  url('./cera-pro/CeraPro-Thin.woff') format('woff'),
  url('./cera-pro/CeraPro-Thin.ttf') format('truetype')
  font-weight: 100
  font-style: normal
