=min-w($w)
  @media screen and (min-width: $w)
    @content

=verticalScrollbar($barWidth, $barColor, $barThumbColor, $borderRadius: 0)
  scrollbar-color: $barThumbColor $barColor
  scrollbar-width: thin

  &::-webkit-scrollbar
    width: $barWidth

  &::-webkit-scrollbar-track
    background: $barColor

  &::-webkit-scrollbar-thumb
    border-radius: $borderRadius
    background: $barThumbColor
