<template lang="pug">
.options
  .options__column.options__column--left
    .options__column-field.options__column-field--name
      slot(name="name" )
    .options__column-field.options__column-field--card
      slot(name="card" )

  .options__column.options__column--right
    slot(name="balance" )
</template>

<style scoped lang="sass">
.options
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.options__column
  white-space: nowrap

  &--left
    display: flex
    align-items: center
    width: 50%

  &--right
    width: 50%
    margin-left: 20px
    text-align: right

.options__column-field
  display: inline-block

  &--name,
  &--currency,
  &--balance
    font-weight: 500
    font-size: 16px
    line-height: 22px
    color: $black_blue_color

  &--name
    text-overflow: ellipsis
    overflow: hidden

  &--card
    margin-left: 4px
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: $gray_color
</style>
