<script setup lang="ts">
import Multiselect from "@vueform/multiselect";
import TextTemplate from "@/components/ui/UiSelect/TextTemplate.vue";
import "@vueform/multiselect/themes/default.css";

defineProps<{
  modelValue: string | null;
  options: any;
  placeholder?: string;
}>();
const emit = defineEmits<{
  (e: "update:modelValue", value: string): void;
}>();

const changeEvent = (val: string) => emit("update:modelValue", val);
</script>

<template lang="pug">
multiselect(
  :modelValue="modelValue"
  @change="changeEvent"
  :canClear="false"
  :canDeselect="false"
  :options="options"
  :placeholder="placeholder || null"
  class="ui-multiselect"
  ref="multiselect"
)
  template(
    #singlelabel="{ value }"
  )
    div.multiselect-single-label
      text-template
        template(#name) {{value.name}}
        template(#card) •{{value.curdNumber}}
        template(#balance) {{value.currency.symbol}} {{value.balance}}

  template(
    #option="{ option }"
  )
    text-template
      template(#name) {{option.name}}
      template(#card) •{{option.curdNumber}}
      template(#balance) {{option.currency.symbol}} {{option.balance}}
</template>

<style lang="sass">
.ui-multiselect
  position: relative
  min-height: 44px
  font-weight: 500
  font-size: 16px
  line-height: 22px
  color: $black_blue_color
  border: 1px solid $light_gray_color
  border-radius: 10px
  transition: .3s

  &:hover,
  &:focus,
  &:focus-visible
    border-color: $gray_color

  &.is-active
    box-shadow: none

  &.is-open
    border-radius: 10px

  .multiselect-caret
    position: absolute
    top: 50%
    right: 12px
    width: 20px
    height: 20px
    margin: 0
    background: url("@/assets/img/icon-arrow-down.svg") no-repeat center / 100%
    transform: translateY(-50%)
    transition: .3s

  .multiselect-single-label
    position: relative
    width: 100%
    padding: 10px 37px 10px 9px

  .multiselect-dropdown
    border: 1px solid $light_gray_color
    border-radius: 10px
    overflow: hidden

  .multiselect-options
    overflow-y: auto
    +verticalScrollbar(3px, $light_gray_color, $gray_color, 5px)


  .multiselect-option
    &.is-selected
      color: $white_color
      background: $green_color
</style>
