<script setup lang="ts">
import PaymentComponent from "@/components/PaymentComponent/PaymentComponent.vue";
</script>

<template lang="pug">
payment-component
</template>

<style lang="sass">
body
  margin: 0

#app
  padding: 18px 26px
  font-family: 'Cera Pro', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*
  box-sizing: border-box
</style>
