<script setup lang="ts">
defineProps<{
  isDisable?: boolean | undefined;
}>();
</script>

<template lang="pug">
button.button(
  :disabled="isDisable"
)
  slot
</template>

<style scoped lang="sass">
.button
  width: 100%
  padding: 0
  font-weight: 700
  font-size: 16px
  line-height: 42px
  text-align: center
  color: $white_color
  background: $red_color
  border: none
  border-radius: 1000px
  transition: .3s
  cursor: pointer

  &[disabled]
    opacity: .5
    pointer-events: none

  &:not([disabled])
    &:hover
      opacity: .8
</style>
