<template lang="pug">
.input-signature
  slot
</template>

<style scoped lang="sass">
.input-signature
  margin-top: 4px
  font-weight: 500
  font-size: 12px
  line-height: 16px
  color: $gray_color
</style>
