<script setup lang="ts">
defineProps<{
  bundleName: string;
}>();
</script>

<template lang="pug">
label.label(
  :from="bundleName"
)
  slot
</template>

<style scoped lang="sass">
.label
  display: block
  font-weight: 500
  font-size: 14px
  line-height: 20px
  color: $gray_color
</style>
