<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  modelValue: number | null;
  bundleName: string;
  currentCurrency?: string | undefined;
  isDisable?: boolean;
}>();
const emit = defineEmits<{
  (e: "update:modelValue", value: number): void;
}>();

const classForNumberInput = computed(() => ({
  "number-input--with-currency": Boolean(props.currentCurrency),
  "number-input--disabled": props.isDisable,
}));

const inputEvent = (event: any) => {
  emit("update:modelValue", +event.target.value);
};
</script>

<template lang="pug">
.number-input(
  :class="classForNumberInput"
)
  span.number-input__currency {{ props.currentCurrency }}
  input.number-input__input(
    :value="modelValue"
    @input="inputEvent"
    :id="props.bundleName"
    :name="props.bundleName"
    type="number"
    autocomplete="off"
    :disabled="props.isDisable"
  )
</template>

<style scoped lang="sass">
.number-input
  position: relative
  font-weight: 500
  font-size: 16px
  line-height: 22px
  color: $black_blue_color

  &--with-currency
    .number-input__currency
      position: absolute
      top: 50%
      left: 9px
      display: block
      font: inherit
      transform: translateY(-50%)

    .number-input__input
      padding-left: 22px

  &--disabled
    pointer-events: none

.number-input__currency
  display: none

.number-input__input
  width: 100%
  padding: 10px 9px
  font: inherit
  color: inherit
  background: none
  border: 1px solid $light_gray_color
  border-radius: 10px
  outline: none
  transition: .3s

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

  &:not([disabled])
    &:hover,
    &:focus,
    &:focus-visible
      border-color: $gray_color
</style>
