<script setup lang="ts">
defineProps<{
  isDisable?: boolean;
}>();
</script>

<template lang="pug">
button.swap-btn(
  :disabled="isDisable"
  type="button"
)
  img(
    src="@/assets/img/icon-swap.svg"
  )
  | Swap accounts
</template>

<style scoped lang="sass">
.swap-btn
  display: inline-flex
  align-items: center
  padding: 0
  font-weight: 500
  font-size: 14px
  line-height: 20px
  color: $gray_color
  background: none
  border: none
  cursor: pointer
  transition: .3s

  &[disabled]
    pointer-events: none
    opacity: .5

  &:hover
    img
      transform: rotate(-180deg)

  img
    display: block
    width: 20px
    height: 20px
    margin-right: 9px
    transition: .3s
</style>
